<h1>BlogPosts#index</h1>
<% @blog_posts.each do |post| %>
  <div>
    <h2><%= link_to post.title, post %></h2>
    <p><%= post.body %></p>
  </div>
<% end %>

<%= link_to 'New Post', new_blog_post_path %>